/* Syles go here */
h3 {
font-family: Verdana;
color: #00FFFF;
}

p { 
	color: #C3F5F3  ;

}

.comment-count
{
	color: #C3F5F3  ;
}

.comment-header, .comment-body
{
	color: white;
}

body{
	background: #D08AF6
}